TENANT_ID=
CLIENT_ID=
CLIENT_SECRET=
API_KEY=
DATABASE_PATH=./data/xdr.db
GRAPH_BASE_URL=https://graph.microsoft.com/v1.0
DEFENDER_API_BASE_URL=https://api.security.microsoft.com
TRANSLATOR_ENDPOINT=https://api.cognitive.microsofttranslator.com
TRANSLATOR_KEY=
TRANSLATOR_REGION=
REQUEST_TIMEOUT=30
GUMROAD_API_BASE_URL=https://api.gumroad.com\nGUMROAD_PRODUCT_PERMALINK=\nGUMROAD_PING_SECRET=\n