TENANT_ID=
CLIENT_ID=
CLIENT_SECRET=
API_KEY=
DATABASE_PATH=./data/xdr.db
GRAPH_BASE_URL=https://graph.microsoft.com/v1.0
DEFENDER_API_BASE_URL=https://api.security.microsoft.com
TRANSLATOR_ENDPOINT=https://api.cognitive.microsofttranslator.com
TRANSLATOR_KEY=
TRANSLATOR_REGION=
REQUEST_TIMEOUT=30
GUMROAD_API_BASE_URL=https://api.gumroad.com\nGUMROAD_PRODUCT_PERMALINK=\nGUMROAD_PING_SECRET=\nLICENSE_PRODUCT=OZHEX-CyberGenius-XDR
LICENSE_PUBLIC_KEY=
LICENSE_REVOCATION_URL=https://raw.githubusercontent.com/ismailozdemir01/OZHEX-CyberGenius-XDR/main/licenses/revocations.ozhx
GITHUB_ACTIONS_TOKEN=
GITHUB_LICENSE_REPO=ismailozdemir01/OZHEX-CyberGenius-XDR
GITHUB_LICENSE_WORKFLOW=license-issue.yml
GITHUB_LICENSE_REF=main
LICENSE_DISPATCH_ENABLED=true
LICENSE_DISPATCH_TIMEOUT=15
LICENSE_FAIL_CLOSED_REVOCATION=true
LICENSE_CALLBACK_URL=https://YOUR_DOMAIN/api/license/issue-callback
LICENSE_CALLBACK_SECRET=
